*/__pycache__
slurm_*
*/.DS_Store
*.pyc
*.pyo
__pycache__
*.egg-info
build
data/*
!data/*/
!data/*/train_config.json
data/**/*.zarr
data/*/ckpts/
.DS_Store
*.ckpt
*.pickle
*.out
writing/**
pyrightconfig.json
